<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Eloify</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" media="screen" title="no title">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
</head>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '993025947496514',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  <div id="fb-root"></div>

    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Home</a>
            <a class="item" id="downClick">About</a>
            <div class="right menu">
                <div class="item">
                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item">Home</a>
        <a class="item">About</a>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="/" class="active item white">Eloify</a>
                    <div class="right item">
                        <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                    </div>
                </div>
            </div>

            <div class="ui text container">
              <h1 class="ui inverted header">Eloify</h1>
              <h2>Test your knowledge with the ELO Rating System.</h2>
              <br>
              <a class="ui huge red button" href="/user/me"> Start</a>
            </div>
        </div>

        <!-- MAIN FRONT PAGE -->
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <br>
                        <!-- <h3 class="ui header"><%= randomQuestion.question %> </h3>
          <h3>a) <%= randomQuestion.choices.a %></h3>
          <h3>b) <%= randomQuestion.choices.b %></h3>
          <h3>c) <%= randomQuestion.choices.c %></h3>
          <h3>d) <%= randomQuestion.choices.d %></h3> -->
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <h1 style="text-align : center; font-size : 70px; margin-top : -70px">Quick Question</h1>
                        <br><br>
                        <div style="margin-bottom : 5px; text-align : center">
                            <form action="/user/thumbup/<%= randomQuestion._id %>/farhan" method="post" style="display : inline">
                                <button class="ui button inverted green">
             <i class="thumbs up icon black"></i>
             <%= randomQuestion.likes.length - 1 %>
                  </button>
                            </form>
                            <form action="/user/thumbdown/<%= randomQuestion._id %>/farhan" method="post" style="display : inline">
                                <button class="ui button inverted red">
             <i class="thumbs down icon black"></i>
             <%= randomQuestion.dislikes.length - 1 %>
                  </button>
                            </form>
                        </div>
                        <br>
                        <form action="/user/qs/<%= randomQuestion._id %>" method="post" class="ui form">
                            <h3>1) <%= randomQuestion.question %>  </h3>
          <h4><%= randomQuestion.choices.a%>
            <input type="checkbox" name="q1" value="a">
          </h4>
          <h4><%= randomQuestion.choices.b%>
            <input type="checkbox" name="q1" value="b" >
          </h4>
          <h4><%= randomQuestion.choices.c%>
            <input type="checkbox" name="q1" value="c" >
          </h4>
          <h4><%= randomQuestion.choices.d%>
            <input type="checkbox" name="q1" value="d" >
          </h4>
                            <p style="margin-top : 25px">Date Created :
                                <%= randomQuestion.date %>
                            </p>
                            <p>Author :
                                <a href="http://www.eloify.com/<%= randomQuestion.username%>">
                                    <%= randomQuestion.username %>
                                </a>
                            </p>
                            <input style="text-align : center" type="submit" value="Answer" class="ui huge button green">
                            <br><br><br>
                            <hr> <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Careers</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Random List</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">SAAS(Software as a service)</a>
                            <a href="#" class="item">BAAS(Backend as a service)</a>
                            <a href="#" class="item">Edit this whenever</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Quick Link or Info</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
<script>
    var scrolled = 0;
    $(document).ready(function() {
        // fix menu when passed

        $('.masthead')
            .visibility({
                once: false,
                onBottomPassed: function() {
                    $('.fixed.menu').transition('fade in');
                },
                onBottomPassedReverse: function() {
                    $('.fixed.menu').transition('fade out');
                }
            });
        // create sidebar and attach to menu open
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item');
        // //Scrolling some button.
        $("#downClick").on("click", function() {
            scrolled = scrolled - 300;
            $(".ui large top fixed hidden menu").stop().animate({
                scrollBottom: -222
            });
        });
    });
</script>
