<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eloify</title>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>


  </head>
  <body>
    <!--  -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a class="item" href="/">Eloify</a>



        <div class="right menu">

 <% if(username == 'unavailable') { %>

   <div class="item">
     <a class="ui button" href="/user/login">Sign In</a>
   </div>

   <div class="item">
     <a class="ui green button" href="/user/register"> <i class="user icon"></i> Register </a>
   </div>



 <%}else{%>

   <div class="item">
     <a class="ui button" href="/user/logout">Log Out</a>
   </div>

   <div class="item">
     <a class="ui primary button" href="/user/me"> <i class="user icon"></i> <%= username %> </a>
   </div>



 <%}%>



        </div>
      </div>
    </div>

    <!--  -->
<br><br><br>
  <div class="ui container">

<br>
<a href="/user/createQs" class="ui button">Create Question</a>

<h2 style="text-align : center"><i>Topic:</i></h2>

<hr><br>

<div class="question" id="question1">

<% questions.map(function(question,num){ %>





 <%  if( _.includes(answeredQuestions , String(question._id) )){ %>

<div style="margin-bottom : 5px; text-align : center">
   <form action="/user/thumbup/<%= question._id %>/<%= username %>" method="post" style="display : inline">


        <button class="ui button inverted green">
   <i class="thumbs up icon black"></i>
   <%= question.likes.length - 1 %>
        </button>


   </form>


   <form action="/user/thumbdown/<%= question._id %>/<%= username %>" method="post" style="display : inline">


        <button class="ui button inverted red">
   <i class="thumbs down icon black"></i>
   <%= question.dislikes.length - 1 %>
        </button>


   </form>
</div>

  <br>


   <form action="/user/viewQs" method="get" class="ui form">

 <!-- Question 1 -->

   <h3><%= num + 1 %>) <%= question.question %>  </h3>


     <h4><%= question.choices.a%>
 <input type="checkbox" name="q1" value="a">
     </h4>

     <h4><%= question.choices.b%>
 <input type="checkbox" name="q1" value="b" >
    </h4>

    <h4><%= question.choices.c%>
 <input type="checkbox" name="q1" value="c" >
   </h4>

   <h4><%= question.choices.d%>
 <input type="checkbox" name="q1" value="d" >
  </h4>

  <!-- <p style="display : inline; margin-right : 14px">
     <a href="/user/viewQs">
<i class="thumbs up icon green"></i>
     </a>
      <%= question.likes.length - 1 %>
  </p>

  <p style="display : inline; margin-right : 14px">
     <a href="/user/viewQs">
<i class="thumbs down icon red"></i>
     </a>
      <%= question.dislikes.length - 1 %>
  </p> -->





 <p style="margin-top : 25px">Date Created : <%= question.date %></p>
  <p>Author : <a href="http://www.eloify.com/<%= question.username%>"><%= question.username %></a></p>



   <input style="" type="submit" value="Already Answered" class="ui button yellow">

   <br><br><br>


<hr> <br>
   </form>


<%  }else{ %>

  <div style="margin-bottom : 5px; text-align : center">
     <form action="/user/thumbup/<%= question._id %>/<%= username %>" method="post" style="display : inline">


          <button class="ui button inverted green">
     <i class="thumbs up icon black"></i>
     <%= question.likes.length - 1 %>
          </button>


     </form>


     <form action="/user/thumbdown/<%= question._id %>/<%= username %>" method="post" style="display : inline">


          <button class="ui button inverted red">
     <i class="thumbs down icon black"></i>
     <%= question.dislikes.length - 1 %>
          </button>


     </form>
  </div>

    <br>



  <form action="/user/qs/<%= question._id %>" method="post" class="ui form">

<!-- Question 1 -->

  <h3><%= num + 1 %>) <%= question.question %>  </h3>


    <h4><%= question.choices.a%>
<input type="checkbox" name="q1" value="a">
    </h4>

    <h4><%= question.choices.b%>
<input type="checkbox" name="q1" value="b" >
   </h4>

   <h4><%= question.choices.c%>
<input type="checkbox" name="q1" value="c" >
  </h4>

  <h4><%= question.choices.d%>
<input type="checkbox" name="q1" value="d" >
 </h4>


<p style="margin-top : 25px">Date Created : <%= question.date %></p>
 <p>Author : <a href="http://www.eloify.com/<%= question.username%>"><%= question.username %></a></p>



  <input style="text-align : center" type="submit" value="Answer" class="ui button green">

  <br><br><br>


<hr> <br>
  </form>




<% }   %>






<% }) %>

</div>


 </div>

<br><br><br>
<script src="lodash.js">

var _ = require('lodash')

var hell = [1,2,3,4]

alert(_.includes(hell, 3))

</script>
  </body>
</html>
